<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lỗi</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <main class="container">
        <h1>
            Không tìm thấy trang
        </h1>
        <pre><%= error.stack %></pre>
        <div class="error">
            <a href="/">Quay về trang chủ</a>
        </div>
    </main>
</body>

</html>